$Maven: 'Maven Pro', sans-serif;
$Oswald: 'Oswald', sans-serif;
$Periwinkli: rgba(204, 204, 255, .65);
$Periwinkli-opaque: rgba(204, 204, 255, 1);
$pale: rgba(253, 237, 244, .65);

body {
    background-image: url('/assets/images/cherry-blossoms.jpeg');
    background-size: cover;
    font-family: $Maven;

    .btn {
        background: rgba(204, 204, 255, 1);
        border: none;
        text-transform: uppercase;
        color: darkslategray;
    }
}

#topNav {
    width: fit-content;
    margin: auto;
    a {
        text-decoration: none;
    }
    li {
        background: $Periwinkli;
    }
}

#pageTitle {
    font-family: $Maven;
    text-align: center;
    padding: 2rem;
    margin: 2rem auto 2rem auto;
    background: $Periwinkli;
    border-radius: 1rem;
}

.user-row {
    margin: 2rem auto;

    .user-name {
        border: {
            top-left-radius: 1rem;
            top-right-radius: 1rem;
        }
        margin-bottom: 0;
        text-transform: uppercase;
        color: white;

        p {
            display: inline;
        }
    }

    .user-pic {
        text-align: center;
        img {
            width: 100%;
        }
    }

    .stat-row {
        background: $pale;
        &:first-of-type {
            border-bottom: solid thin darkslategray;
        }
    }

    button.show-add-book-btn {
        @extend .btn;
        width: fit-content;
        margin: 1rem;
    }
}

form {
    margin: 2rem 0;
    text-transform: uppercase;
    // display: none;
    // transition: 0.5s;

    .update-btn {
        @extend .btn;
        float: right;
    }
}

table#challengeTable {
    margin-top: 2rem;
    background: ghostwhite;

    td {
        button {
            background: $Periwinkli-opaque;
            float: right;
            font-size: small;
        }
    }

    input {
        display: initial;
    }

    td.read {
        background: palegreen;
    }
}