$Maven: 'Maven Pro', sans-serif;
$Oswald: 'Oswald', sans-serif;

body {
    background-image: url('/assets/images/cherry-blossoms.jpeg');
    background-size:cover;
    font-family: $Maven;
}

#pageTitle {
    font-family: $Maven;
    text-align: center;
    padding: 2rem;
    margin: 2rem auto 2rem auto;
    background: rgba(247, 182, 212, .75);
    border-radius: 2rem;
}

.user-row {
    margin: 4rem auto;
    .user-pic {
        text-align: center;
        img {
            width: 100%;
        }
    }
}