$Maven: 'Maven Pro', sans-serif;
$Oswald: 'Oswald', sans-serif;
$Periwinkli: rgba(204, 204, 255, .65);
$pale: rgba(253, 237, 244, .65);

body {
    background-image: url('/assets/images/cherry-blossoms.jpeg');
    background-size: cover;
    font-family: $Maven;
}

#pageTitle {
    font-family: $Maven;
    text-align: center;
    padding: 2rem;
    margin: 2rem auto 2rem auto;
    background: $Periwinkli;
    border-radius: 1rem;
}

.user-row {
    margin: 4rem auto;
    background: $pale;
    border-radius: .75rem;

    .user-name {
        border-top-left-radius: .75rem;
        border-top-right-radius: .75rem;
        text-transform: uppercase;
        color: white;
    }

    .user-pic {
        text-align: center;
        img {
            width: 100%;
        }
    }
}

form {
    margin: 2rem 0;
    text-transform: uppercase;

    .update-btn {
        float: right;
        background: rgba(204, 204, 255, 1);
        border: none;
        text-transform: uppercase;
        color: darkslategray;
    }
}